
  <header>
    <img src="./assets/images/logo.svg" alt="logo splitter">
  </header>
  <main>
    <div class="container">

      <div class="wrap-desktop">
        <app-acount></app-acount>
      <!--componentes contenedorButtons-->
      <app-discounts></app-discounts>
      <!--comopente resultados-->
      <app-persons></app-persons>
      </div>
      <!--componente acount-->
      <app-results></app-results>
      
    </div>

  </main>
  <footer>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="#">Your Name Here</a>.
    </div>
  </footer>
